In [1]:
import numpy as np # linear algebra - is for nerds.
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas import DataFrame, Series
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
# Command so that plots appear in the iPython Notebook
%matplotlib inline

In [11]:
df = pd.read_csv('C:/Users/jgles/dawg/Analysis/Recruiting Data/HighSchool - 2000 Player Rankings.csv')
df

,ranking,name,School,State,City,position,height,weight,stars,rating,college
0,1,D.J. Williams,De La Salle,CA,Concord,ILB,44349,235,5,0.9998,Miami
1,2,Brock Berlin,Evangel Christian Academy,LA,Shreveport,PRO,44349,190,5,0.9998,Florida
2,3,Charles Rogers,Saginaw,MI,Saginaw,WR,44351,195,5,0.9988,Michigan State
3,4,Travis Johnson,Notre Dame,CA,Sherman Oaks,SDE,44351,265,5,0.9982,Florida State
4,5,Marcus Houston,Thomas Jefferson,CO,Denver,RB,36678,208,5,0.9980,Colorado
...,...,...,...,...,...,...,...,...,...,...,...
115,116,Jason Witten,Elizabethton,TN,Elizabethton,WDE,44354,265,4,0.9606,Tennessee
116,117,Lynn McGruder,Cheyenne,NV,North Las Vegas,DT,44350,285,4,0.9606,Tennessee
117,118,Dustin Picciotti,Central Bucks West,PA,Doylestown,FB,44350,235,4,0.9602,Pittsburgh
118,119,Marcus White,Theodore,AL,Theodore,SDE,44352,270,4,0.9602,Auburn
119,120,Nautyn McKay-Loescher,Toronto,OH,Toronto,WDE,44351,240,4,0.9347,Alabama

In [17]:
df = df.drop(["height"], axis = 1)
df.head()

,ranking,name,School,State,City,position,weight,stars,rating,college
0,1,D.J. Williams,De La Salle,CA,Concord,ILB,235,5,0.9998,Miami
1,2,Brock Berlin,Evangel Christian Academy,LA,Shreveport,PRO,190,5,0.9998,Florida
2,3,Charles Rogers,Saginaw,MI,Saginaw,WR,195,5,0.9988,Michigan State
3,4,Travis Johnson,Notre Dame,CA,Sherman Oaks,SDE,265,5,0.9982,Florida State
4,5,Marcus Houston,Thomas Jefferson,CO,Denver,RB,208,5,0.9980,Colorado